<div class="shadow p-3 mb-5 bg-white card">
    <h2 class="text-center text-secondary">Share Your Stories</h2>

    <ul class="create-article">
        <li>
            <a href="{% url 'article-create' %}">
                CreateArticle
            </a>
        </li>
    </ul>

    <h2 class="text-center text-secondary">Travel Categories</h2>
    
    <ul class="shadow-sm category">
        {% for category in categories%}
        <li class="category-list">
            <a href="{% url 'category-detail' category.slug %}">{{category}}</a>
        </li>
        {% endfor %}
    </ul>
   
</div>