{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content%}

  <article class="card-body mx-auto border" style="max-width: 500px;">
   {% include 'messages/messages.html' %}
    
    <h4 class="card-title mt-3 text-center">Login Here</h4>
    
    

    <p class="text-center">
      <a href="" class="btn btn-info btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
      <a href="" class="btn btn-primary btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    </p>
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}
    <p class="divider-text">
          <span class="bg-light">OR</span>
    </p>
      
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token%}
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <!-- <input name="" class="form-control" placeholder="Full name" type="text"> -->
          {% render_field form.username class="form-control" placeholder="Username"%}
      </div> <!-- form-group// -->


         <!-- password -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
            {% render_field form.password class="form-control" placeholder="Password"%}
      </div> 
      <!-- button -->
                                        
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Login  </button>
      </div> <!-- form-group// -->      
      <p class="text-center">Don't have an account? <a href="{% url 'accounts:register' %}">Register</a> </p>                                                                 
  </form>
  </article>
 
  
{% endblock %}
