{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        {% include 'messages/messages.html' %}
        {% if article %}

        <div class="col shadow p-3 mb-5 bg-white rounded mb-2">
            <div class="row">
                <div class="col-md-12 mr-2">
                    <div>
                        <img src="{{ article.thumbnail.url}}" class=" thumb" style="height:330px!important">
                    </div>

                </div>
                <div class="col-md-12 p-2">
                    <div class="row p-2">
                        <div class="col-md-6 d-flex">
                            <img src="{{ article.author.profile.image.url }}" class="rounded-circle mr-2"
                                style="width:100px;height:100px">
                            <div>

                                <h2 class="border-bottom">
                                    <a href="">{{article.title}}</a>
                                </h2>
                                <p>{{article.date_created | timesince}} ago by : <a href="{% url 'accounts:profile' article.author %}">{{article.author}}</a></p>
                            

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            {% if user.is_authenticated %}
                                {% if user == article.author %}
                                    <div class="d-flex justify-content-end mt-2 mb-2">
                                        <a href="{% url 'article-update' article.slug %}" class="btn btn-primary mr-2 btn-edit">Edit</a>
                                        <a href="{% url 'article-delete' article.slug %}" class="btn btn-danger mr-2 btn-delete">Delete</a>
                                    </div>
                                {% endif%}
                            {% endif %}
                        </div>
                        <div class="col-md-12 ">
                            <p class="text-muted" style="text-indent:50px">{{article.body}}</p>
                        </div>
                      
                    </div>
                </div>

                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    
                    <div class="mt-3">   
                        {% if user.is_authenticated %}
                            {% if request.user in article.likes.all %}
                                {% csrf_token%}
                                <button  class="text-danger p-0 border-0 btn-outline-light mr-2 like-btn" id="like-button" value="{{article.id}}">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </button>
                            {% else %}
                                {% csrf_token%}
                                <button class="text-danger p-0 border-0 btn-outline-light mr-2" id="like-button" value="{{article.id}}">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                </button>
                            {% endif %}
                            <span id="like_count">{{article.like_count}} </span>
                        {% else %}
                            <a href="{% url 'accounts:login' %}" class=" text-danger" value="{{article.id}}">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            </a>
                            <span id="like_count">{{article.like_count}}</span>
                        {%endif%}
                    </div>
                    <div class="text-warning text-uppercase font-weight-bold ml-auto">{{article.category}}</div>
                </div>
                

            </div>


        </div>
        {%else%}
            <div class="shadow-sm p-3 mb-5 bg-white rounded mb-2">
                <h2 class="text-center text-secondary p-3">No article yet</h2>
            </div>
        {%endif%}
    </div>

    <div class="col-md-4 col-sm-12">
        {% include 'sidebar/sidebar.html' %}
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    const likeButton = $('#like-button');
    likeButton.on('click',function(e){
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "like" %}',
        data: {
          article_id : likeButton.val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'post'
        },
        success: function (json) {
          document.getElementById("like_count").innerHTML = json['result']

          console.log(json)
        },
        error: function (xhr, errmsg, err) {

        }
      })
    })
</script>
{% endblock %}
