{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="shadow p-3 bg-white">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Are you sure you want to delete this article?</h2>
                <h5>Summary:</h5>
                <p class="text-muted"> Category : {{article.category}}</p>
                <p class="text-muted"> Title : {{article.title}}</p>
                <p class="text-muted"> body : {{article.body}}</p>
                <p class="text-muted"> author : {{article.author}}</p>
           
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'article-detail' article.slug%}" class="btn btn-secondary btn-cancel">Cancel</a>
            </form>
            
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        {% include 'sidebar/sidebar.html' %}
    </div>

</div>
{% endblock %}