{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        {% include 'messages/messages.html' %}
        {% if article %}

        <div class="col shadow p-3 mb-5 bg-white rounded mb-2">
            <div class="row">
                <div class="col-md-5 mr-2">
                    <div>
                        <img src="{{ article.thumbnail.url}}" class="border p-1 thumb">
                        {% if user.is_authenticated %}
                            {% if user == article.author %}
                                <div class="justify-content-center  d-flex mt-2">
                                    <a href="{% url 'article-update' article.slug %}" class="btn btn-info mr-2 btn-edit">Edit</a>
                                    <a href="{% url 'article-delete' article.slug %}" class="btn btn-danger mr-2 btn-delete">Delete</a>
                                </div>
                            {% endif%}
                        {% endif %}
                        
                    </div>

                </div>
                <div class="col-md-6 p-2">
                    <div class="row ">
                        <div>
                            <div class="col d-flex">
                                <img src="{{ article.author.profile.image.url }}" class="rounded-circle mr-2"
                                    style="width:100px;height:100px">
                                <div>

                                    <h2 class="border-bottom">
                                        <a href="">{{article.title}}</a>
                                    </h2>
                                    <p>{{article.date_created | timesince}} ago by : {{article.author}}</p>
                                    <p class="text-label"> </p>

                                </div>
                            </div>
                            <div class="col border-bottom mb-2">
                                <p class="text-muted">{{article.body}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 d-flex ">
                    <p class="text-warning text-uppercase font-weight-bold mr-auto">{{article.category}}</p>

                </div>

            </div>


        </div>
        {%else%}
        <h1 class="text-secondary text-center">No article yet</h1>
        {%endif%}
    </div>

    <div class="col-md-4 col-sm-12">
        {% include 'sidebar/sidebar.html' %}
    </div>

</div>
{% endblock %}