<footer class="page-footer font-small special-color-dark pt-4 footer">
    <div class="footer-copyright text-center py-3 text-dark font-weight-bold "> Copyright © 2020 - 
        <a href="https:facebook.com/wendell1101" class="text-dark font-weight-bold link"> Suazo, Wendell </a>
        <div>
            <a href="https://www.facebook.com/wendell1101" class="btn-floating btn-lg btn-tw text-primary   border-bottom mr-2" type="button" role="button">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/wendell1101" class="btn-floating btn-lg btn-tw text-info  border-bottom mr-2" type="button" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/wendell1101" class="btn-floating btn-lg btn-tw text-secondary  border-bottom mr-2" type="button" role="button">
                <i class="fab fa-github"></i>
            </a>
        </div>
        
    </div>
</footer>



